include ../_config
//- - var page = pagelist['demo4'];

doctype html
html(lang="ja")
  head
    include ../include/_head

  body
    main.wrap
      #demo4
        .section.canvas_wrap
          #app
          .itemsWrapper
            img(src="../../img/1.jpg", alt="")

    include ../include/_footer
