include ../_config
//- - var page = pagelist['demo1'];

doctype html
html(lang="ja")
  head
    include ../include/_head

  body
    main.wrap
      #demo2
        .section.canvas_wrap
          canvas#canvas1

        #scr
          p THREE JS

    include ../include/_footer
