@charset 'utf-8';

@import "./reset";

$textColor: #333;

html {
}
body {
  font-family: "Noto Sans JP", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",
    "游ゴシック", YuGothic, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック",
    "MS PGothic", sans-serif;
  font-size: 16px;
  color: $textColor;
  min-height: 100vh;
}

.header {
  padding: 10px;
  background: #000;
  color: #fff;
  font-size: 120%;
  margin-bottom: 30px;
}

.footer {
  text-align: center;
  font-size: 12px;
}

.main {
  min-height: 90vh;
  padding: 10px;
}

.link {
  &_list {
    max-width: 1000px;
    margin: 0 auto;
    counter-reset: number 0;
  }
  &_panel {
    margin-bottom: 30px;
    &:before {
      display: inline-block;
      padding-right: 1em;
      counter-increment: number 1;
      content: "◆No." counter(number);
    }

    &_inr {
      color: $textColor;
      display: block;
    }
  }

  &_top {
    margin-top: 50px;
    text-align: center;
    a {
      display: inline-block;
      color: #333;
      text-decoration: none;
    }
  }
}
.section {
  &_ttl {
    font-size: 20px;
  }
}

#demo1 {
  max-width: 1000px;
  margin: 0 auto;
  .section {
    overflow-x: hidden;
  }
  .sample {
    &_list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 1em;
      row-gap: 30px;
      margin: 50px auto;
    }
    &_item {
      text-align: center;
      canvas {
        margin: 0 auto;
      }
    }
    &_ttl {
      margin-bottom: 10px;
    }
  }
}

#demo2,#demo3 {
  position: relative;

  .canvas_wrap {
    background: #fffbf6;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    canvas {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  #scr {
    position: relative;
    width: 100%;
    height: 200vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    p {
      font-size: 10vw;
      text-align: center;
    }
  }
}
#demo4 {
  .canvas_wrap {
    position: relative;
  }
  #app {
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
  }
  #itemsWrapper {
    position: absolute;
    top: 0;

    .item {
      img {
        &:last-child {
          display: none;
        }
      }
    }
  }
}
