@charset 'utf-8';

@import "./reset";

$textColor: #333;

html {
}
body {
  font-family: 'Noto Sans JP',"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック",
    YuGothic, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic",
    sans-serif;
  font-size: 16px;
  color: $textColor;
  min-height: 100vh;
}

.header {
  padding: 10px;
}

.footer {
  text-align: center;
  font-size: 12px;
}

.main {
  min-height: 90vh;
  padding: 10px;
}

.link {
  &_list {
    max-width: 1000px;
    margin: 0 auto;
  }
  &_panel {
    margin-bottom: 30px;

    &_inr {
      color: $textColor;
    }
  }
}
.section{
  &_ttl {
    font-size: 20px;
  }

}
#demo1 {
  max-width: 1000px;
  margin: 0 auto;
  .section {
    overflow-x: hidden;
  }
  .sample{
    &_list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      column-gap: 1em;
      row-gap: 30px;
      margin: 50px auto;
    }
    &_item {
      text-align: center;
      canvas {
        margin: 0 auto;
      }
    }
    &_ttl {
      margin-bottom: 10px;
    }
  }
}
